@model ItemGUI.ViewModels.ManufacturerItemsViewModel
@{
    ViewData["Title"] = "GetManufacturerById";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2>@ViewBag.Message</h2>
<h3>@ViewBag.SuccessMessage</h3>
<div>
    <h1>Детали Производителя</h1>
    <br />
    <div>
        <p>
            <strong>Наименование Производителя:</strong> @Model.Manufacturer.Name
        </p>
        <div class="form-group text-center">
            <a class="btn btn-sm btn-danger" asp-controller="Manufacturers" asp-action="DeleteManufacturer"
               asp-route-manufacturerId="@Model.Manufacturer.Id">Удалить Категорию</a>
        </div>
    </div>
    <br /><br />
    <div>
        <h4>@ViewBag.ItemMessage</h4>
        @foreach (var item in Model.Items)
        {
            <div>
                <p>
                    <strong>Наименование товара:</strong>
                    <span>@item.Title</span>
                    <a asp-controller="Home" asp-action="GetItemById"
                       asp-route-itemId="@item.Id">Детали товара</a>
                </p>
            </div>
        }
    </div>
</div>
